#toc {
  position: fixed;
  top: 9.5rem;
  right: 1.5rem;
  width: 13rem;
  transition: top 0.2s ease; 
  
  &.sticky {
    top: 1rem;
  }
  
  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 0rem;
    color: var(--content-secondary-alt);
    font-size: var(--desktop-caption);
    line-height: var(--lh-desktop-caption);
  }
  
  a {
    text-decoration: none;
    color: var(--content-secondary-alt);
    cursor: pointer;
    
    &:hover {
      color: var(--content-primary);
    }
    
    &.active {
      color: var(--content-primary);
    }
  }
  
  .collapsible > a {
    cursor: pointer;
  }
  
  .collapsible > ol {
    display: none;
  }
  
  .collapsible.expanded > ol {
    display: block;
  }
}

@media (max-width: 1200px) {
  #toc {
    display: none;
  }
}